aside.el-aside {
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
    width: 300px;
}

.el-container main.el-main {
    max-height: calc(100vh - 60px);

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #020817;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(39, 39, 228);
        border-radius: 2px;
    }
}


@media (max-width: 1025px) {
    aside.el-aside {
        width: 0;
        display: none;
    }
}